@CHARSET "UTF-8";

body {
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-color: #eee;*/
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.input-group {
	margin-top: 10px;
}

.input-group span {
	width: 30%;
}

.input-group input select {
	width: 70%;
}

.menu-title {
	padding-top: 40px;
	padding-bottom: 30px;
}

.menu-title:BEFORE {
	content: "* ";
}

/* table 관련 */

thead tr td {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
}

tbody tr td {
	text-align: center;
	font-size: 13px;
}

td.td-col-1 {
	width: 6.66667%;
}

td.td-col-2 {
	width: 13.33334%;
}

td.td-col-3 {
	width: 20%;
}

td.td-col-4 {
	width: 26.66667%;
}

td.td-col-5 {
	width: 33.33334%;
}

td.td-col-6 {
	width: 40%;
}

td.td-col-7 {
	width: 46.66667%;
}

td.td-col-8 {
	width: 53.33334%;
}

td.td-col-9 {
	width: 60%;
}

td.td-col-10 {
	width: 66.66667%;
}

td.td-col-11 {
	width: 63.33334%;
}

td.td-col-12 {
	width: 80%;
}

td.td-col-13 {
	width: 86.66667%;
}

td.td-col-14 {
	width: 93.33334%;
}

td.td-col-15 {
	width: 100%;
}

.dateTime {
	font-size: 12px;
}